.embla {
  margin: auto;
  --slide-spacing: 1rem;
  margin-top: -15rem;
  position: relative;
  width: 1450px;
}
.embla__viewport {
  overflow: hidden;
  padding-top: 150px;
}
.embla__container {
  backface-visibility: hidden;

  display: flex;
  touch-action: pan-y;
}
.embla__slide {
  min-width: 0;
  flex: 0 0 calc(100% / 3.4);
  margin-left: 50px;
  @apply min-h-[600px] h-fit pb-12 bg-[#D9D9D9] flex flex-col items-center text-center relative pt-[170px];
}

.embla__prev {
  @apply absolute -left-[42px] top-1/2 sm:left-1/2 sm:top-0;
}
.embla__next {
  @apply absolute -right-[94px] top-1/2 sm:right-1/2 sm:top-0;
}

@media (max-width: 1535px) {
  .embla {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }
  .embla__slide {
    flex: 0 0 calc(100% / 3);
  }
  .embla__next {
    right: -30px;
  }
}
@media (max-width: 1440px) {
  .embla {
    padding-left: 0;
    padding-right: 2rem;
    width: 90%;
  }
  .embla__slide {
    flex: 0 0 calc(100% / 3);
  }
  .embla__prev {
    left: -10px;
  }
}

@media (max-width: 768px) {
  .embla {
    margin-top: 0;
  }
  .embla__slide {
    flex: 0 0 calc(100% / 1);
  }
}

@media (max-width: 640px) {
  .embla {
    padding-left: 0;
    padding-right: 0 !important;
    width: 100%;
  }
  .embla__viewport {
    overflow: hidden;
    padding-top: 200px;
  }
  .embla__prev {
    left: 38%;
  }
  .embla__slide {
    flex: 0 0 calc(100% / 1);
  }
  .embla__next {
    left: 50%;
  }
}
